[data-theme="normal"] {
    --primary-color: var(--adslot-normal-primary-color);
    --primary-color-hover: var(--adslot-normal-primary-color-hover);
    --secondary-color: var(--adslot-normal-secondary-color);
    --secondary-color-light: var(--adslot-normal-secondary-color-light);
    --background-primary: var(--adslot-normal-background-primary);
    --background-secondary: var(--adslot-normal-background-secondary);
    --text-primary: var(--adslot-normal-text-primary);
    --text-secondary: var(--adslot-normal-text-secondary);
    --border-color: var(--adslot-normal-border-color);
    --action-color: var(--adslot-normal-action-color);
    --action-color-hover: var(--adslot-normal-action-color-hover);
    --cancel-color: var(--adslot-normal-cancel-color);
    --cancel-color-hover: var(--adslot-normal-cancel-color-hover);
}
