[data-theme="fun"] {
    --primary-color: var(--adslot-fun-primary-color);
    --primary-color-hover: var(--adslot-fun-primary-color-hover);
    --secondary-color: var(--adslot-fun-secondary-color);
    --secondary-color-light: var(--adslot-fun-secondary-color-light);
    --background-primary: var(--adslot-fun-background-primary);
    --background-secondary: var(--adslot-fun-background-secondary);
    --text-primary: var(--adslot-fun-text-primary);
    --text-secondary: var(--adslot-fun-text-secondary);
    --border-color: var(--adslot-fun-border-color);
    --action-color: var(--adslot-fun-action-color);
    --action-color-hover: var(--adslot-fun-action-color-hover);
    --cancel-color: var(--adslot-fun-cancel-color);
    --cancel-color-hover: var(--adslot-fun-cancel-color-hover);
}
