:root {
    /* Primary Colors */
    --primary-color: #e74c3c;
    --primary-color-hover: #c0392b;
    
    /* Secondary Colors */
    --secondary-color: #c0392b;
    --secondary-color-light: #e74c3c;
    
    /* Background Colors */
    --background-primary: #ffffff;
    --background-secondary: #f8f1f1;
    
    /* Text Colors */
    --text-primary: #c0392b;
    --text-secondary: #e74c3c;
    
    /* Border Colors */
    --border-color: #f1c0c0;
    
    /* Action Colors */
    --action-color: #e74c3c;
    --action-color-hover: #c0392b;
    --cancel-color: #f8d7da;
    --cancel-color-hover: #f5c6cb;
}
