[data-theme="normal"] {
    --primary-color: var(--banner-normal-primary-color);
    --primary-color-hover: var(--banner-normal-primary-color-hover);
    --secondary-color: var(--banner-normal-secondary-color);
    --secondary-color-light: var(--banner-normal-secondary-color-light);
    --background-primary: var(--banner-normal-background-primary);
    --background-secondary: var(--banner-normal-background-secondary);
    --text-primary: var(--banner-normal-text-primary);
    --text-secondary: var(--banner-normal-text-secondary);
    --border-color: var(--banner-normal-border-color);
    --action-color: var(--banner-normal-action-color);
    --action-color-hover: var(--banner-normal-action-color-hover);
    --cancel-color: var(--banner-normal-cancel-color);
    --cancel-color-hover: var(--banner-normal-cancel-color-hover);
}
